
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add keyframe animation */
@keyframes slideUp {
  0% {
    transform: translateY(50px); /* เริ่มต้นจากล่าง */
    opacity: 0;
  }
  100% {
    transform: translateY(0); /* ขยับขึ้นมาปกติ */
    opacity: 1;
  }
}

/* Apply the animation */
.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

@keyframes textSlideUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-text-slide-up {
  animation: textSlideUp 0.8s ease-out forwards;
}

.animate-text-slide-up-delay {
  animation: textSlideUp 0.8s ease-out forwards;
  animation-delay: 0.2s;
}

@keyframes slideBarUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-bar {
  animation: slideBarUp 0.6s ease-out forwards;
}

.animate-fade-in {
  animation: fadeInText 0.6s ease-out forwards;
}